.x-banner-slider {
  h1, p {
    color: #fff !important;
  }

  p {
    font-size: 18px;
  }

  .slider-content {
    width: 100%;
  }

  @media (min-width: $screen-md) {
    .slider-content {
      width: 50%;
    }
  }
}
