//
// Site Header (Top bar + Navbar)
// --------------------------------------------------

// Top bar
.topbar {
    display: table;
    position: relative;
    width: 100%;
    height: 40px;
    //padding: 0 30px;
    border-bottom: 1px solid $border-color;
    z-index: 9010;

    .topbar-column {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        /*@media (max-width: $screen-sm) {
          padding: 0 !important;
        }*/

        &:last-child {
            text-align: right;

            @media (max-width: $screen-sm) {
                text-align: left;

                a {
                    margin-left: 0 !important;
                }
            }
        }

        &:first-child {
            text-align: left;
        }

        a:not(.social-button),
        span,
        p {
            color: $white-color;
            font-size: $font-size-xs;
        }

        > a:not(.social-button),
        > span,
        > p {
            display: inline-block;

            margin: {
                top: 5px;
                bottom: 5px;
            }

            > i {
                margin-top: -3px;
            }

            > i.icon-download {
                margin-top: -4px;
            }
        }

        a:not(.social-button) {
            transition: color 0.3s;
            text-decoration: none;

            &:hover {
                color: $nav-link-hover-color;
            }
        }
    }

    .topbar-column:last-child {
        > a:not(.social-button),
        > span,
        > p {
            margin-left: 20px;
        }
    }

    .topbar-column:first-child {
        > a:not(.social-button),
        > span,
        > p {
            margin-right: 20px;
        }
    }

    // Ghost / Dark Version
    &.topbar-ghost,
    &.topbar-dark {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-color: rgba($white-color, 0.15);
        background-color: rgba($white-color, 0.05);

        .topbar-column {
            a:not(.social-button):not(.dropdown-item),
            span,
            p {
                color: $white-color;
            }

            a:not(.social-button):not(.dropdown-item):hover {
                color: $nav-link-hover-color;
            }
        }

        .lang-currency-switcher-wrap .lang-currency-switcher > .currency {
            border-left-color: rgba($white-color, 0.15);
        }

        .dropdown-toggle::after {
            color: $white-color;
        }
    }

    &.topbar-dark {
        position: relative;
    }
}

// Language / Currency Switcher
.lang-currency-switcher-wrap {
    display: inline-block;
    position: relative;
    margin-left: 22px;
    cursor: pointer;
    vertical-align: middle;

    .lang-currency-switcher {
        > .language,
        > .currency,
        &::after {
            display: inline-block;
            transition: color 0.3s;

            font: {
                size: $nav-link-font-size;
                weight: $nav-link-font-weight;
            }

            text-transform: uppercase;
            vertical-align: middle;
        }

        > .language {
            width: 20px;
        }

        > .currency {
            margin-left: 12px;
            padding: 4px 0 4px 12px;
            border-left: 1px solid $border-color;
        }

        &::after {
            margin-left: 6px;
            transition: all 0.3s;
        }

        &:hover {
            > .language,
            > .currency,
            &::after {
                color: $nav-link-hover-color;
            }
        }
    }

    &.show {
        > .lang-currency-switcher .currency,
        > .lang-currency-switcher::after {
            color: $nav-link-active-color;
        }
    }

    .dropdown-menu {
        right: 0;
        left: auto;
        padding-bottom: 12px;
    }

    .dropdown-item {
        padding: {
            top: 4px;
            bottom: 4px;
        }

        > img {
            display: inline-block;
            width: 17px;

            margin: {
                top: -1px;
                right: 7px;
            }

            vertical-align: middle;
        }
    }

    .currency-select {
        padding: {
            top: 7px;
            right: 20px;
            bottom: 10px;
            left: 20px;
        }
    }
}

// Search
.site-search {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: $white-color;
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    > input {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

        padding: {
            right: 120px;
            left: 30px;
        }

        border: 0;
        background-color: $white-color;
        color: $body-color;
        font-size: $font-size-base;

        &:focus {
            outline: 0;
        }

        @include placeholder;
    }

    .search-tools {
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -20px;
        z-index: 5;

        .clear-search,
        .close-search {
            display: inline-block;
            transition: color 0.25s;
            cursor: pointer;
            vertical-align: middle;
        }

        .clear-search {
            padding: 10px 0;
            color: $gray;

            font: {
                size: 11px;
                weight: 500;
            }

            letter-spacing: 0.1em;
            text-transform: uppercase;

            &:hover {
                color: $gray-dark;
            }
        }

        .close-search {
            margin-left: 10px;

            padding: {
                top: 4px;
                bottom: 10px;
                left: 10px;
            }

            &:hover {
                color: $gray;
            }
        }
    }

    &.search-visible {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: $screen-xl) {
        & > input {
            padding: {
                right: 105px;
                left: 15px;
            }
        }

        .search-tools {
            right: 15px;
        }
    }
}

// Navbar
.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $navbar-min-height;
    border-bottom: 1px solid $border-color;
    background-color: $white-color;
    z-index: 9000;
}

// Site Logo + Off-Canvas Toggle
.site-branding {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 5;

    .inner {
        display: table;
        height: 100%;
        min-height: 100%;
    }
}

.site-logo,
.offcanvas-toggle {
    display: table-cell;
    vertical-align: middle;
}

// Site logo
.site-logo {
    width: ($logo-width + 25);
    padding: 12px 0 12px 25px;
    text-decoration: none;

    > img {
        display: block;
        width: 100%;
    }

    &.logo-stuck {
        display: none;
    }
}

.navbar-ghost.navbar-stuck {
    .site-logo {
        display: none;
    }

    .site-logo.logo-stuck {
        display: table-cell;
    }
}

// Categories Toggle
.offcanvas-toggle {
    width: 74px;
    transition: color 0.3s;
    color: $navbar-tools-color;
    font-size: $offcanvas-toggle-icon-size;
    line-height: 1;
    cursor: pointer;

    text: {
        align: center;
        decoration: none;
    }

    &::before {
        display: inline-block;
        font-family: feather;
        content: '\e120';
    }

    &:hover {
        color: $nav-link-hover-color;
    }

    &.menu-toggle {
        display: none;
    }
}

// Main Navigation
.site-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;

    ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;

        > li {
            > a {
                padding: 0 0.5rem;
                transition: color 0.3s;
                color: $nav-link-color;

                font: {
                    size: $nav-link-font-size;
                    weight: $nav-link-font-weight;
                }

                text-decoration: none;
                transition: none;
            }

            &:hover > a {
                color: $gray-light;
            }

            &.active > a {
                color: $gray-lighter;
            }
        }
    }

    > ul {
        display: flex;
        height: 100%;
        min-height: 100%;
        gap: 8px;

        > li {
            display: table-cell;
            position: relative;
            vertical-align: middle;

            > a {
                display: table;
                height: 100%;
                min-height: 100%;
                border-top: 1px solid transparent;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                > span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            &.active > a {
                border-top-color: $nav-link-active-color;
            }
        }
    }
}

// Sub Menu
.sub-menu {
    @extend %sub-menu;
}

.site-menu ul > li:hover {
    > .sub-menu {
        display: block;
        animation: submenu-show 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    > .mega-menu {
        display: table;
        animation: megamenu-show 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        .sub-menu {
            animation: none;
        }
    }
}

// Mega Menu
.mega-menu {
    @extend %mega-menu;
}

.site-menu > ul > li:hover {
    background-color: $brand-danger;
    transition: background-color 300ms;
}

.site-menu > ul > li.has-megamenu {
    position: static;
}

.site-menu > ul > li {
    display: flex;
    align-items: center;
}

.site-menu > ul > li:has(.sub-menu):after {
    content: '';
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin-right: 10px;
    transition: transform 0.3s;
    transform-origin: 50% 66%;
}

.site-menu > ul > li:has(.sub-menu):hover:after {
    transform: rotate(226deg);
}

// Toolbar
.toolbar {
    position: absolute;
    top: 0;
    width: calc(90% - 240px);
    z-index: 5;

    .inner {
        height: 100%;
        min-height: 100%;
    }

    // Tools
    .tools {
        display: table-cell;
        vertical-align: middle;
    }

    .search-box {
        align-items: center;
        border: 1px solid $brand-light;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        border-radius: 6px;
        flex-direction: row-reverse !important;
    }

    .search,
    .account,
    .cart {
        display: inline-block;
        position: relative;
        width: 44px;
        height: 44px;
        margin-left: 6px;
        transition: background-color 0.35s;
        //border: 1px solid #e1e7ec;
        border-radius: 6px;
        color: $navbar-tools-color;
        font-size: $tools-icon-size;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;

        @media (max-width: $screen-md) {
            width: 30px !important;
            height: 30px;
            font-size: 14px;
            line-height: 10px;
            border: 1px solid #98a0a6;
            flex-shrink: 0;
            border-radius: 50% !important;

            > div {
                margin-top: 6px;
            }
        }

        text: {
            align: center;
            decoration: none;
        }

        > i {
            line-height: $navbar-tools-size - 5;

            @media (max-width: $screen-sm) {
                line-height: 26px;
            }
        }

        > a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .account,
    .cart {
        > a::after {
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: 18px;
            margin-top: -10px;
            content: '';
        }
    }

    // Search
    .search,
    .account,
    .cart {
        i {
            font-size: 18px;
            line-height: $navbar-tools-size - 26;

            @media (max-width: $screen-md) {
                line-height: 26px;
            }
        }
    }

    // Cart
    .cart {
        width: auto;
        padding: 0 10px;
        border-radius: floor(calc($navbar-tools-size / 6));

        @media (max-width: $screen-md) {
            padding: 0 5px !important;
        }

        > a {
            border-radius: floor(calc($navbar-tools-size / 6));
        }

        > .count,
        > .subtotal {
            display: inline-block;
            margin-top: 2px;
            font-size: $font-size-sm;
            vertical-align: middle;
        }

        > .count {
            margin-left: 5px;
            position: absolute;
            top: 0;
            right: 12px;
            background: $brand-danger;
            color: #fff;
            // height: 100%;
            // width: 0;
            // visibility: hidden;
            // opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all 0.4s;
            font-size: 12px;
            width: 18px;
            height: 18px;
        }

        // &:hover .count {
        //     width: 100%;
        //     visibility: visible;
        //     opacity: 1;
        // }

        > .subtotal {
            margin-left: 11px;
            padding: 1px 0 1px 12px;
            border-left: 1px solid $border-color;
        }

        @media (max-width: $screen-xl) {
            padding: 0 14px;

            & > .subtotal {
                display: none;
            }
        }

        .cart-dropdown {
            height: 320px;
            overflow: hidden;
            overflow-y: auto;
        }

        .cart-dropdown-title {
            display: none;
        }
    }

    .cs-hover {
        .sub-menu {
            display: block;
            position: relative;
            left: 20px;
            border-radius: 0;
            width: calc(100% - 20px);
            box-shadow: none;
            border: 0;
            max-height: 0;
            visibility: hidden;
            opacity: 1;
            padding: 5px 0 0 !important;
            transition: all 0.6s;
            overflow: hidden;
        }

        &:hover {
            .sub-menu {
                padding: 10px 0 0 !important;
                visibility: visible;
                opacity: 1;
                max-height: 500px;
            }
        }
    }
}

// Toolbar Dropdowns
.toolbar-dropdown {
    @extend %sub-menu;
    margin-top: 7px !important;
    text-align: left;

    .toolbar-close {
        display: none;
        position: absolute;
    }
}

.toolbar .account {
    > .toolbar-dropdown {
        left: 50%;
        margin-left: -(calc($sub-menu-width / 2));

        @media (max-width: $screen-sm) {
            margin-left: -130px;
        }
    }
}

.toolbar .cart {
    > .toolbar-dropdown {
        right: 0;
        left: auto;
        width: 320px;

        padding: {
            right: 0.625rem !important;
            left: 0.625rem !important;
            top: 19px !important;
        }

        > .toolbar-dropdown-group {
            display: table;
            width: 100%;

            padding: {
                top: 9px;
                bottom: 9px;
            }

            border-top: 1px solid $border-color;

            &:last-child {
                border-top: 0;
            }

            > .column {
                display: table-cell;
                vertical-align: top;

                &:first-child {
                    padding-right: 6px;
                }

                &:last-child {
                    padding-left: 6px;
                }
            }

            .btn {
                margin: 0;
            }
        }
    }
}

.dropdown-product-item {
    display: table;
    position: relative;
    width: 100%;
    padding: 9px 0;
    border-top: 1px dashed darken($border-color, 3%);

    &:first-child {
        border-top: 0;
    }

    > .dropdown-product-thumb,
    > .dropdown-product-info {
        display: table-cell;
        vertical-align: top;
    }

    > .dropdown-product-thumb {
        width: 55px;
        height: 55px;
        overflow: hidden;
        display: block;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 3px;
            border: 1px solid #e1e7ec;
            border-radius: 50%;
        }
    }

    > .dropdown-product-remove {
        display: block;
        position: absolute;
        top: 12px;
        right: 0;
        color: $brand-danger;
        font-size: $font-size-sm;
        line-height: 1;
        cursor: pointer;
    }

    > .dropdown-product-info {
        padding: {
            right: 15px;
            left: 12px;
        }
    }

    .dropdown-product-title {
        display: block;
        padding-top: 2px;
        transition: color 0.3s;
        color: $nav-link-color;

        font: {
            size: $nav-link-font-size;
            weight: $nav-link-font-weight;
        }

        text-decoration: none;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:hover {
            color: $nav-link-hover-color;
        }
    }

    .dropdown-product-details {
        color: $gray-dark;
        font-size: $nav-link-font-size;
        text-align: right;
        display: block;
        margin-right: -15px;
        margin-top: 5px;
    }
}

.toolbar .account.show-cart-cs,
.toolbar .cart.show-cart-cs {
    > .toolbar-dropdown {
        display: flex;
        flex-direction: column;
        animation: submenu-show 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}

// Navbar Ghost Light
.navbar-ghost:not(.navbar-stuck),
.navbar-dark {
    position: absolute;
    top: 40px;
    border-bottom-color: rgba($white-color, 0.15);
    background-color: transparent;

    .offcanvas-toggle {
        border-right-color: rgba($white-color, 0.15);
        color: $white-color;

        &:hover {
            color: $nav-link-hover-color;
        }
    }

    .site-menu > ul > li {
        > a {
            color: $white-color;
        }

        &:hover > a {
            color: $nav-link-hover-color;
        }

        &.active > a {
            color: $nav-link-active-color;
        }
    }

    .toolbar {
        .search,
        .account,
        .cart {
            border-color: rgba($white-color, 0.15);
            color: $white-color;

            &:hover {
                background-color: rgba($white-color, 0.07);
            }
        }

        .cart > .subtotal {
            border-left-color: rgba($white-color, 0.15);
        }

        .toolbar-dropdown-group {
            color: $body-color;
        }
    }
}

.navbar-dark {
    position: relative;
    top: 0;
    border-bottom: 0;
}

// Navbar (Menu) Collapse
@media (max-width: $nav-collapse) {
    .navbar {
        min-height: 70px;
        padding: 0;
    }

    .toolbar {
        right: 15px;
    }

    .offcanvas-toggle.menu-toggle {
        display: table-cell;
    }

    .site-menu,
    .offcanvas-toggle.cats-toggle {
        display: none !important;
    }

    .topbar {
        padding: {
            right: 15px;
            left: 15px;
        }
    }

    .container-collapse-p0 {
        padding: 0;

        .row {
            margin-inline: 0;

            > div {
                padding: 0;
            }
        }

        // .topbar-column {
        //     padding-inline: 16px;
        // }
    }
}

@media (max-width: $nav-collapse) {
    .offcanvas-toggle {
        width: 56px;
    }

    .site-logo {
        width: ($logo-width + 16);
        padding-left: 16px;
    }
}

@media (max-width: $screen-sm) {
    .toolbar .cart,
    .toolbar .account {
        .toolbar-dropdown {
            width: 100vw !important;
            height: 100vh !important;
            position: fixed;
            left: auto !important;
            top: -8px;
            right: 0;
            z-index: 9;
            padding-left: 1rem !important;
            padding-right: 1rem !important;

            .toolbar-close {
                display: block;
                top: 1rem;
                right: 1rem;
                z-index: 99;
            }

            .cart-dropdown {
                margin-top: 1rem;
                max-height: 70vh !important;
                border-top: 1px solid #e1e7ec;
            }

            .cart-dropdown-title {
                font-weight: bold;
                text-align: center;
                display: block !important;
                margin: 1rem auto 0 auto !important;
            }

            > .toolbar-dropdown-group:last-child {
                margin-top: auto;
            }
        }
    }

    .topbar-section:has(~ .main-header .cart.show-cart-cs),
    .topbar-section:has(~ .main-header .account.show-cart-cs) {
        display: none;
    }

    .account.show-cart-cs {
        .sub-menu-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 15%;
            margin-bottom: 24px;

            .user-ava {
                width: 74px;

                > img {
                    width: 100%;
                    height: 100%;
                }
            }

            .user-info {
                margin-top: 1rem;

                .user-name {
                    font-size: 18px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

//OTHER-
body {
    @media (max-width: $screen-sm) {
        p {
            margin-bottom: 8px;
        }
    }

    @media (max-width: $screen-md) {
        .tab-content {
            border: 1px solid #e2e6e7;
        }
    }

    .sm-w-80 {
        @media (max-width: $screen-md) {
            width: 120px;
        }

        @media (max-width: $screen-sm) {
            width: 80px;
        }
    }

    @media (min-width: $nav-collapse) {
        .topbar-section {
            background: $gray-lighter;
        }
    }

    .topbar,
    .topbar-section {
        background: $brand-danger;
        color: $white-color;
    }

    .site-logo {
        padding-left: 0;
    }

    .site-menu {
        > ul {
            margin: 0;

            > li {
                padding-bottom: 12px;
                padding-top: 12px;

                > a {
                    border: none;
                }
            }
        }
    }

    .main-header {
        background: white;

        // &:has(.navbar-stuck) {
        //     position: fixed;
        //     z-index: 9010;
        //     top: 0;
        //     width: 100%;
        //     @media (max-width: $nav-collapse) {
        //         background: transparent;
        //     }
        // }
    }

    .navbar-stuck {
        min-height: 64px;

        .site-menu {
            display: none;
        }

        .site-logo {
            padding: 0;
        }
    }

    .fw-400 {
        font-weight: 400 !important;
    }

    .fw-500 {
        font-weight: 500 !important;
    }

    .fw-600 {
        font-weight: 600 !important;
    }

    .fw-700 {
        font-weight: 700 !important;
    }

    .gap-3 {
        gap: 1rem;
    }

    .gap-2 {
        gap: 0.5rem;
    }

    .gap-col-3 {
        column-gap: 16px;
    }

    .nav-tabs .nav-link {
        border-width: 1px 1px 0 1px !important;
    }

    .nav-tabs .nav-link.active {
        border-color: #e60023;
        color: #e60023;
        background: #fde6e9;
    }

    .mw-170 {
        max-width: 170px;
    }

    .w-260 {
        width: 260px;
    }

    .w-296 {
        width: 296px;
    }

    .product-btn-group {
        @media (max-width: $screen-sm) {
            button {
                font-size: 14px;
                padding: 8px 9px;
                text-transform: capitalize;
                height: auto;
                line-height: initial;
                margin-right: 8px;
            }
        }
    }

    .products-table {
        max-height: 845px;
        overflow-y: auto;

        .border-bottom:last-child {
            border-bottom: none !important;
        }

        .w-120 {
            width: 120px;
            max-height: 136px;

            @media (max-width: $screen-sm) {
                width: 80px;
                max-height: 70px;
                flex-shrink: 0;
            }
        }

        @media (max-width: 420px) {
            .cs-w-420 {
                flex-direction: column;
                align-items: start !important;
                gap: 8px;
            }

            .w-260 {
                width: 215px;
            }
        }
    }

    .count {
        span {
            width: 32px;
            height: 28px;
            border-radius: 6px;
            border: 1px solid $border-color;
            background: $brand-primary;
            cursor: pointer;
        }
    }

    .cs-wishlist {
        .wishlist-heart-off {
            display: none;
        }
    }

    .cs-wishlist.active {
        .wishlist-heart-off {
            display: block;
        }

        .wishlist-heart-on {
            display: none;
        }
    }

    .site-footer {
        padding-top: 48px;
    }

    a.nav-link.active {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: #fef1e9;
            left: 0;
            bottom: -1px;
        }
    }

    .topbar-section {
        .topbar-motto {
            color: $white-color !important;
        }

        .topbar-contact {
            color: $white-color !important;
        }
    }
}

.x-mega-menu-merchandise-zone-menu {
    display: flex;
    flex-wrap: nowrap;
}

form.w-100 {
    order: 1;
}

#show-account {
    order: 3;
}

#show-cart {
    order: 2;
}

.search-box {
    display: none !important;
}

.show .search-box {
    display: flex !important;
}

.toolbar {
    position: static !important;
    margin-right: 16px;
}

.toolbar .cart > .count {
    display: none;
}

.search-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    width: 100%;
    background-color: white;
}

.search-tools {
    display: none !important;
}

#question {
    order: 2;
}

#search {
    order: 1;
}

@media (max-width: $screen-sm) {
    .sub-menu {
        width: auto;
        border: none;
        box-shadow: none;
        position: static;
    }

    .mega-menu-title {
        font-size: 1.2rem;
        color: $black-color;
    }
}

@media (min-width: $screen-md) {
    .toolbar {
        position: relative !important;
    }

    .search-box {
        display: flex !important;
        position: static !important;
    }

    .search-item {
        display: flex !important;
        align-items: center;
    }
}

@media (min-width: $screen-lg) {
    #show-account::after {
        content: attr(data-title);
        font-size: 12px;
        font-weight: 500;
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .toolbar .cart > .count {
        display: flex;
    }

    #question {
        order: 1;
    }

    #search {
        order: 2;
    }

    .toolbar {
        margin-right: 0;
    }

    #show-cart::after {
        content: 'Your Cart';
        font-size: 12px;
        font-weight: 500;
        display: block;
        text-align: center;
    }
}
